
<div style="display: flex; justify-content: space-between; align-items: baseline">
    <p style="font-size: 16px;">Detaljerad information</p><p>Kontonummer: @BankAccount.Id.Substring(0, 5) @BankAccount.Id.Substring(5, 2) @BankAccount.Id.Substring(7, 3)</p>
    <BSButton Color="Color.Dark" @onclick="@(() => DateModal.Show())">Ändra datum</BSButton>
    <BSModal @ref="DateModal">
        <BSModalHeader OnClick="@(() => DateModal.Hide())">Ändra tidsintervall</BSModalHeader>
        <BSModalBody>
            <DisplayDatesModal SetFromDate="SetFromDate" SetToDate="SetToDate" />
        </BSModalBody>
        <BSModalFooter>
            <BSButton Color="Color.Dark" @onclick="@(() => DateModal.Hide())">Stäng</BSButton>
        </BSModalFooter>
    </BSModal>
    <p>Datum: <div style="display:flex; flex-direction: column; text-align:center;"><span>@FromDate.ToShortDateString()</span> - <span>@ToDate.ToShortDateString()</span></div></p>
    
</div>

@code {

    BSModal DateModal { get; set; }


    [Parameter] public DateTime FromDate { get; set; }
    [Parameter] public DateTime ToDate { get; set; }
    [Parameter] public EventCallback<ChangeEventArgs> SetFromDate { get; set; }
    [Parameter] public EventCallback<ChangeEventArgs> SetToDate { get; set; }




}
