<tr style="background: linear-gradient(180deg, @Transaction.Category.Color 0%, rgba(228, 80, 80, 0) 120%);">
    <td>@Transaction.TransactionDate.ToShortDateString()</td>
    <td>@Transaction.Description</td>
    <td>
        <select class="btn btn-dark" @onchange="((e) => SetCategory(Transaction, e))">
            @foreach (var category in Categories)
            {
                var selected = category.Name.Equals(Transaction.Category.Name) ? "selected" : null;
                <option selected="@selected" value="@category.Name">@category.Name</option>
            }
        </select>
    </td>
    <td>@Transaction.Amount.ToString() kr</td>
</tr>


