<tr style="background: linear-gradient(180deg, @Categories.Find(x => x.Id.Equals(Transaction.CategoryId)).Color 0%, rgba(228, 80, 80, 0) 120%);">
    <td>@Transaction.TransactionDate.ToShortDateString()</td>
    <td>@Transaction.Description</td>
    <td>
        <select class="btn btn-dark" @onchange="((e) => SetCategory(Transaction, e))">
            @foreach (var category in Categories)
            {
                var selected = category.Id.Equals(Transaction.CategoryId) ? "selected" : null;
                <option selected="@selected" value="@category.Id">@category.Name</option>
            }
        </select>
    </td>
    <td>@Transaction.Amount.ToString() kr</td>
</tr>


