<tr style="background-color: @Transaction.Category.Color; opacity: 0,4;">
    <td>@Transaction.TransactionDate.ToShortDateString()</td>
    <td>@Transaction.Name</td>
    <td>
        <select @onchange="((e) => SetCategory(Transaction, e))">
            @foreach (var category in Categories)
            {
                var selected = category.Name.Equals(Transaction.Category.Name) ? "selected" : null;
                <option selected="@selected" value="@category.Name">@category.Name</option>
            }
        </select>
    </td>
    <td>@Transaction.Amount.ToString() kr</td>
</tr>


