<tr style="background: linear-gradient(180deg, @(Transaction.CategoryId != null ? Categories.Find(x => x.Id.Equals(Transaction.CategoryId)).Color : "#FFFFFF") 0%, rgba(228, 80, 80, 0) 120%);">
    <td>@Transaction.TransactionDate.ToShortDateString()</td>
    <td>@(Transaction.Description != null ? Transaction.Description : "")</td>
    <td>
        <select class="btn btn-dark" @onchange="@((e) => SetCategory(Transaction, e))">
            @if (Transaction.CategoryId == null)
            {
                <option value="">Ej vald</option>
            }
            @foreach (var category in Categories)
            {
                var selected = category.Id.Equals(Transaction.CategoryId) && Transaction.CategoryId != null ? "selected" : null;
                <option selected="@selected" value="@category.Id">@category.Name</option>
            }
        </select>
    </td>
    <td>@Transaction.Amount.ToString() kr</td>
    @if (IsTransactionPage)
    {
        <td><BSButton OnClick="@(() => DeleteTransaction(Transaction.Id))" Color="Color.Danger">Radera</BSButton></td>
    }
</tr>


